<!-- portfolio item -->
<div class="project-container">
  <div class="portfolio-container">
    <a href="/project/{{id}}" class="portfolio-item">
      <img src="/images/{{screenshot_filename}}" alt="" class="portfolio-img" />
      <p class="portfolio-info">
        {{project_title}}<span>{{technologies_used}}</span>
      </p>
    </a>
  </div>
</div>