<!-- introduction -->
<section class="intro" id="home">
  <h1 class="section-title section-title-intro">
    Hi, I am
    <strong>Spencer Hulse</strong>
  </h1>
  <p class="section-subtitle section-subtitle-intro">full-stack dev</p>
  <img
    class="intro-img"
    src="/images/spencer-profile-pic.jpg"
    alt="a picture of Spencer Hulse smiling"
  />
</section>

<!-- hero -->
<section class="hero">
  <img
    class="hero-img"
    src="/images/walnut-street-bridge.jpg"
    alt="picture of the walnut street bridge in chattanooga"
  />
  <p class="section-subtitle section-subtitle-hero">
    Dedicated to Excellence In All Things
  </p>
</section>

<!-- about me -->
<section class="about-me" id="about">
  <h2 class="section-title section-title-about">Who I Am</h2>
  <p class="section-subtitle section-subtitle-about">
    Full-stack developer out of Chattanooga, TN
  </p>

  <div class="about-me-body">
    <p>
      Hi, I'm Spencer, a full-stack developer based out of Chattanooga. Before
      learning web development, I made a living as a writer and editor. The skills 
      I learned before bring organization and an eye for detail to my code, which 
      have brought nothing but benefits to my journey.
    </p>
    <p>
      Currently, I find myself more comfortable working with node and express.
      And I'm always looking for a new npm package to explore to make life easier.
      Recently, I cooperated with a team to create a job aggregator application, and
      I also finished my first full-stack project: a simple blog. And there are many 
      more to come.
    </p>
  </div>

  <img
    class="about-me-img about-me-img-large"
    src="/images/standing-casual-cropped.JPG"
    alt="a picture of spencer in casual clothes smiling"
  />
  <img
    class="about-me-img about-me-img-small"
    src="/images/standing-casual-small.JPG"
    alt="a picture of spencer in casual clothes smiling"
  />
</section>

<!-- my work -->
<section class="my-work" id="work">
  <h2 class="section-title">My Work</h2>
  <p class="section-subtitle section-subtitle-work">
    A brief introduction to my body of work
  </p>

  <div class="portfolio">
    {{#each projects as |project|}}
      {{> project-link project}}
    {{/each}}
  </div>
</section>