<!-- introduction -->
<section class="intro" id="home">
  <h1 class="section-title section-title-intro">
    Hi, I am
    <strong>Spencer Hulse</strong>
  </h1>
  <p class="section-subtitle section-subtitle-intro">full-stack dev</p>
  <img
    class="intro-img"
    src="/images/spencer-profile-pic.jpg"
    alt="a picture of Spencer Hulse smiling"
  />
</section>

<!-- hero -->
<section class="hero">
  <img
    class="hero-img"
    src="/images/walnut-street-bridge.jpg"
    alt="picture of the walnut street bridge in chattanooga"
  />
  <p class="section-subtitle section-subtitle-hero">
    Dedicated to Excellence In All Things
  </p>
</section>

<!-- about me -->
<section class="about-me" id="about">
  <h2 class="section-title section-title-about">Who I Am</h2>
  <p class="section-subtitle section-subtitle-about">
    Full-stack developer out of Chattanooga, TN
  </p>

  <div class="about-me-body">
    <p>
      Hi, I'm Spencer, a full-stack developer based out of Chattanooga. Before
      learning web development, I made a living as a writer and editor, and I
      bring the same attention to detail to every project. The same goes for my
      desire to learn and improve.
    </p>
    <p>
      Currently, HTML, CSS, and JavaScript are my most comfortable languages.
      Additionally, I use jQuery and CSS frameworks when needed to make things
      work as smoothly as possible. Recently, I cooperated with a team to create
      a [first group project name here].
    </p>
  </div>

  <img
    class="about-me-img about-me-img-large"
    src="/images/standing-casual-cropped.JPG"
    alt="a picture of spencer in casual clothes smiling"
  />
  <img
    class="about-me-img about-me-img-small"
    src="/images/standing-casual-small.JPG"
    alt="a picture of spencer in casual clothes smiling"
  />
</section>

<!-- my work -->
<section class="my-work" id="work">
  <h2 class="section-title">My Work</h2>
  <p class="section-subtitle section-subtitle-work">
    A brief introduction to my body of work
  </p>

  <div class="portfolio">
    <!-- portfolio item 01 -->
    <div class="project-container">
      <div class="portfolio-container">
        <a
          href="https://spencerhulse.github.io/the-weather-of-today/"
          class="portfolio-item"
          target="_blank"
        >
          <img
            src="/images/weather-dashboard.png"
            alt=""
            class="portfolio-img"
          />
          <p class="portfolio-info">
            Weather Dashboard<span>JavaScript</span>
          </p>
        </a>
      </div>
    </div>
    <!-- portfolio item 02 -->
    <div class="project-container" data-item="2">
      <div class="portfolio-container">
        <a
          href="https://spencerhulse.github.io/taskmaster-pro/"
          class="portfolio-item"
          target="_blank"
        >
          <img src="/images/taskmaster-pro.png" alt="" class="portfolio-img" />
          <p class="portfolio-info">
            Taskmaster Pro<span>JavaScript</span>
          </p>
        </a>
      </div>
    </div>
    <!-- portfolio item 03 -->
    <div class="project-container">
      <div class="portfolio-container">
        <a
          href="https://spencerhulse.github.io/git-it-done/"
          class="portfolio-item"
          target="_blank"
        >
          <img src="/images/git-it-done.png" alt="" class="portfolio-img" />
          <p class="portfolio-info">Git It Done<span>JavaScript</span></p>
        </a>
      </div>
    </div>
    <!-- portfolio item 04 -->
    <div class="project-container">
      <div class="portfolio-container">
        <a
          href="https://spencerhulse.github.io/the-only-work-day-scheduler-you-need/"
          class="portfolio-item"
          target="_blank"
        >
          <img
            src="/images/work-day-scheduler.png"
            alt=""
            class="portfolio-img"
          />
          <p class="portfolio-info">
            Work Day Scheduler<span>JavaScript</span>
          </p>
        </a>
      </div>
    </div>
    <!-- portfolio item 05 -->
    <div class="project-container">
      <div class="portfolio-container">
        <a
          href="https://spencerhulse.github.io/the-ultimate-js-code-quiz/"
          class="portfolio-item"
          target="_blank"
        >
          <img src="/images/js-code-quiz.png" alt="" class="portfolio-img" />
          <p class="portfolio-info">Code Quiz<span>JavaScript</span></p>
        </a>
      </div>
    </div>
    <!-- portfolio item 06 -->
    <div class="project-container">
      <div class="portfolio-container">
        <a
          href="https://spencerhulse.github.io/alexander-tg-tribute/"
          class="portfolio-item"
          target="_blank"
        >
          <img
            src="/images/alexander-the-great.png"
            alt=""
            class="portfolio-img"
          />
          <p class="portfolio-info">Tribute Page<span>HTML + CSS</span></p>
        </a>
      </div>
    </div>

    <!-- portfolio item 07 -->
    <div class="project-container">
      <div class="portfolio-container">
        <a
          href="https://github.com/SpencerHulse/newJobs-you"
          class="portfolio-item"
          target="_blank"
        >
          <img
            src="/images/newjobsyou-screenshot.png"
            alt=""
            class="portfolio-img"
          />
          <p class="portfolio-info">
            Software Engineering Job Aggregator<span>JavaScript</span>
          </p>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="footer" id="contact">
  <a
    href="mailto:hulse.spencer@gmail.com"
    class="footer-link"
  >hulse.spencer@gmail.com</a>
  <a href="tel:+14236537820" class="footer-link">423-653-7820</a>
  <ul class="social-list">
    <li class="social-list-item">
      <a
        class="social-list-link"
        href="https://github.com/SpencerHulse"
        target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="social-list-item">
      <a
        class="social-list-link"
        href="https://www.linkedin.com/in/spencer-hulse-987521223/"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/script.js"></script>